@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter Tight", sans-serif;
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;

  }
}

.titulo {
  display: inline-block; 
  padding: 8px 16px; 
  transition: all 0.3s ease;
  white-space: nowrap; 
  overflow: visible; 
}

.titulo:hover {
  transform: translateX(10px) scale(1.05);
}
html {
  scroll-behavior: smooth;
}